<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Spotify Playlist</title>
</head>
<body>
<!-- Displays form where the user can enter the playlist id, user id, and then press submit-->
    <h1> Enter Playlist Id and User Id to Get Started! </h1>
    <form id="playlistinfo" action="playlist" method="get">
        PlaylistId:
        <input type="text" id="playlistid" name="playlistid" >
        UserId:
        <input type="text" id="userid" name="userid" >
        <input type="submit">
    </form>
</body>
</html>
